@import '../../styles.less';

.find-activities {
  &__map {
    &--button {
      position: fixed;
      bottom: 100px;
      width: 200px;
      height: 40px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.flex-contaier {
  display: flex;
}

.layout {
  min-height: 100%;
}

.multiple-select {
  height: 32px;

  ::ng-deep .ant-select-selector {
    height: 32px;
  }
}

nz-header {
  background: @background-color;
  padding: 0;
}

.inner-content {
  padding: 24px;
  background: @background-color;
  text-align: center;
}

.load-more_container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 24px;
  justify-content: center;
}

@media (max-width: 575px) {
  :host {
    margin-bottom: 20px !important;
    height: 100%;
  }

  .content-container {
    border-left: none;
    padding-left: 0;
  }
}
