@import '../../styles.less';

:host {
    display: block;
    margin-bottom: 120px;
    margin-top: 70px;
}

.flex-contaier {
    display: flex;
}

.find-activities {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    padding: 0 20px;
}

.layout {
    min-height: 100%;
}

.multiple-select {
    height: 32px;

    ::ng-deep .ant-select-selector {
        height: 32px;
    }
}

nz-header {
    background: @background-color;
    padding: 0;
}

.inner-content {
    padding: 24px;
    background: @background-color;
    text-align: center;
}


@media (max-width: 575px) {
    :host {
        margin-top: 60px;
        height: 100%;
    }

    .content-container {
        border-left: none;
        padding-left: 0;
    }

    .find-activities {
        display: flex;
        gap: 8px;
        flex-direction: column;
    }
}