<nz-layout>
  <nz-sider
    *ngIf="(resizeService.isSmall$ | async) === false"
    class="slider__filters"
  >
    <activity-filters
      (submitFilters)="onSubmitFilters($event)"
      (submitView)="changeView($event)"
    ></activity-filters>
  </nz-sider>

  <nz-layout>
    <activity-filters
      *ngIf="resizeService.isSmall$ | async"
      (submitFilters)="onSubmitFilters($event)"
      (submitView)="changeView($event)"
    ></activity-filters>

    <nz-content class="content-container" style="position: relative">
      <activity-list
        *ngIf="openView === viewTypes.List"
        [activities]="activities"
        [hasMoreData]="hasMoreData"
        (loadMore)="loadMore()"
      ></activity-list>

      <activity-map
        *ngIf="openView === viewTypes.Map"
        [activities]="activities"
      ></activity-map>

      <loader *ngIf="loading" [inlineStyle]="true"></loader>
      <no-data *ngIf="noData"></no-data>
      <error
        *ngIf="error"
        [inlineStyle]="true"
        [retryHandler]="onSubmitFilters.bind(this)"
      ></error>
    </nz-content>
  </nz-layout>
</nz-layout>
