<div class="email-confirmation" *ngIf="!loading">
  <ng-container *ngIf="success; else error">
    <nz-result nzStatus="success" nzTitle="Poprawnie potwierdzono adres email" nzSubTitle="Mozesz juz sie zalogowac">
      <div nz-result-extra>
        <button nz-button nzType="primary">Zaloguj się</button>
      </div>
    </nz-result>
  </ng-container>

  <ng-template #error>
    <nz-result
      nzTitle="Wystąpił błąd"
      nzStatus="error"
      nzSubTitle="Nie mogliśmy potwierdzic twojego maila. Mozliwe, ze twoje konto jest aktywne. W razie problemow skontaktuj sie z supportem"
    >
      <div nz-result-extra>
        <button nz-button nzType="primary">Strona główna</button>
      </div>
    </nz-result>
  </ng-template>
</div>

<loader *ngIf="loading" [inlineStyle]="true"></loader>
