<div class="login-container__image-container">
  <h1 style="text-decoration: underline">Zresetuj Hasło</h1>
  <div class="login-container" (keyup.enter)="resetPassword()">
    <form nz-form *ngIf="form" [formGroup]="form" nzLayout="vertical">
      <nz-form-item>
        <nz-form-label nzFor="email" nzRequired>Email</nz-form-label>
        <nz-form-control [nzErrorTip]="errorDescription">
          <input id="email" nz-input formControlName="email" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzFor="oldPassword" nzRequired>Hasło</nz-form-label>
        <nz-form-control [nzErrorTip]="errorDescription">
          <nz-input-group [nzSuffix]="suffixTemplate">
            <input [type]="passwordVisible ? 'text' : 'password'" nz-input formControlName="oldPassword" />
          </nz-input-group>
          <ng-template #suffixTemplate>
            <span
              nz-icon
              style="cursor: pointer"
              [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
              (click)="passwordVisible = !passwordVisible"
            ></span>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzFor="newPassword" nzRequired>Hasło</nz-form-label>
        <nz-form-control [nzErrorTip]="errorDescription">
          <nz-input-group [nzSuffix]="suffixTemplate">
            <input [type]="passwordVisible ? 'text' : 'password'" nz-input formControlName="newPassword" />
          </nz-input-group>
          <ng-template #suffixTemplate>
            <span
              nz-icon
              style="cursor: pointer"
              [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
              (click)="passwordVisible = !passwordVisible"
            ></span>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzFor="newPasswordMatch" nzRequired>Hasło</nz-form-label>
        <nz-form-control [nzErrorTip]="errorDescription">
          <nz-input-group [nzSuffix]="suffixTemplate">
            <input [type]="passwordVisible ? 'text' : 'password'" nz-input formControlName="newPasswordMatch" />
          </nz-input-group>
          <ng-template #suffixTemplate>
            <span
              nz-icon
              style="cursor: pointer"
              [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
              (click)="passwordVisible = !passwordVisible"
            ></span>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </form>

    <hub-button
      class="button__full-width"
      text="Zresetuj"
      [isLoading]="isLoading"
      (click)="resetPassword()"
    ></hub-button>
  </div>

  <ng-template #errorDescription let-control>
    <ng-container *ngIf="control.hasError('required')">To pole jest wymagane</ng-container>
  </ng-template>
</div>
