<div class="legalContent" data-v-620932dc="">
  <h1><strong>REGULAMIN APLIKACJI BOOKSY DLA KLIENTÓW </strong></h1>
  <h2><strong>I. Definicje</strong></h2>
  <ol>
    <li>
      <strong>Aplikacja dla Klienta / System</strong> – dedykowane dla Klientów oprogramowanie i serwis Booksy,
      obsługiwane przez Booksy i rozpowszechniane pod nazwą biznesową „<strong>Booksy</strong>”, dostępne w sieci
      Internet w domenie https://booksy.com, za pośrednictwem aplikacji mobilnych dla oprogramowania iOS i Android oraz
      za pośrednictwem widgetów możliwych do osadzenia na stronach internetowych lub profilach w mediach
      społecznościowych Partnerów. Aplikacja dla Klienta umożliwia rezerwowanie Usług Partnera przez Klientów.
    </li>
    <li>
      <strong>Aplikacja dla Partnera</strong> – dedykowane dla Partnerów oprogramowanie i serwis Booksy, obsługiwane
      przez Booksy i rozpowszechniane pod nazwą biznesową „<strong>Booksy</strong>”, dostępne w sieci Internet w domenie
      https://booksy.com/biz/pl-pl, za pośrednictwem aplikacji mobilnych dla oprogramowania iOS i Android. Aplikacja
      umożliwia nawiązywanie kontaktu pomiędzy Partnerem a Klientem w celu reklamy, promocji, oferowania i rezerwacji
      Usług Partnera, jak również organizowanie działalności punktu usługowego Partnera.
    </li>
    <li>
      <strong>Booksy </strong>– Booksy International sp. z o.o. z siedzibą w Warszawie, pod adresem: ul. Prosta 67,
      00-838 Warszawa, wpisana do rejestru przedsiębiorców prowadzonego przez Sąd Rejonowy dla m. st. Warszawy w
      Warszawie, XIII Wydział Gospodarczy Krajowego Rejestru Sądowego pod numerem KRS 0000515914, posiadająca NIP:
      951-238-16-07 oraz REGON: 147315920.
    </li>
    <li>
      <strong>Klient</strong> – osoba fizyczna, która najpóźniej w momencie założenia Konta w Systemie ukończyła 16 lat,
      osoba prawna, jednostka organizacyjna nieposiadająca osobowości prawnej, która utworzyła Konto w&nbsp;Aplikacji
      dla Klientów w celu korzystania z Usług oferowanych przez Partnerów.
    </li>
    <li>
      <strong>Konto</strong> – część Systemu wraz z zespołem rozwiązań informatycznych pozwalających na korzystanie z
      Systemu zalogowanym Klientom.
    </li>
    <li>
      <strong>Partner</strong> – osoba fizyczna, osoba prawna lub jednostka organizacyjna nieposiadająca osobowości
      prawnej, która korzysta z Aplikacji dla Partnerów w związku z prowadzoną przez siebie działalnością gospodarczą
      lub zawodową oraz utworzyła konto w Aplikacji dla Partnerów w celu świadczenia usług dla Klientów. Każdy Partner
      jest przedsiębiorcą w rozumieniu powszechnie obowiązujących przepisów prawa.
    </li>
    <li><strong>Profil</strong> – profil stworzony przez Klienta w Systemie, umożliwiający identyfikację Klienta.</li>
    <li>
      <strong>Program Poleceń</strong> – funkcja za pośrednictwem której Klienci mogą polecać System i usługi Booksy
      potencjalnym nowym Partnerom.
    </li>
    <li><strong>Regulamin</strong> – niniejszy regulamin Aplikacji dla Klientów.</li>
    <li>
      <strong>Rejestracja</strong> – proces umożliwiający założenie Konta w Systemie, którego obligatoryjnym elementem
      jest akceptacja niniejszego Regulaminu. Bez akceptacji Regulaminu nie jest możliwe ukończenie Rejestracji.
    </li>
    <li>
      <strong>Rezerwacja</strong> – dokonanie przez Klienta rezerwacji Usługi Partnera za pomocą Aplikacji dla Klientów,
      ze wskazaniem wybranej przez Klienta daty oraz godziny Usługi Partnera.
    </li>
    <li>
      <strong>RODO</strong> – Rozporządzenie Parlamentu Europejskiego i Rady (EU) 2016/679 z dnia 27 kwietnia 2016 r. w
      sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i&nbsp;w sprawie swobodnego przepływu
      takich danych oraz uchylenia dyrektywy 95/46/WE (ogólne rozporządzenie o ochronie danych) wraz z późniejszymi
      zmianami.
    </li>
    <li>
      <strong>Umowa o Korzystanie z Systemu </strong>– umowa między Booksy a Klientem, zawierana w sposób opisany w
      niniejszym Regulaminie, której przedmiotem jest świadczenie przez Booksy na rzecz Klienta Usług Booksy.
    </li>
    <li><strong>Usługi Booksy </strong>– usługi świadczone przez Booksy na rzecz Klienta.</li>
    <li>
      <strong>Usługa Partnera</strong>,<strong> Usługi Partnera</strong> – wszelkie usługi oferowane za pomocą Systemu
      przez Partnerów, m. in. w dziedzinie kosmetyki, fryzjerstwa, wellness i SPA, szeroko pojętej profilaktyki
      zdrowotnej, usług finansowych, telekomunikacyjnych, ubezpieczeniowych oraz innych niewymienionych.
    </li>
    <li><strong>Użytkownik</strong> – Klient lub Partner.</li>
  </ol>
  <h2><strong>II. Postanowienia wstępne</strong></h2>
  <ol>
    <li>
      Regulamin określa zasady i warunki świadczenia usług drogą elektroniczną przez Booksy za pośrednictwem Systemu, w
      szczególności zasady i warunki korzystania przez Klientów z&nbsp;Systemu oraz dokonywania Rezerwacji.
    </li>
    <li>
      Z Booksy można kontaktować się:
      <ol>
        <li>pocztą elektroniczną na adres: pomoc.pl@booksy.com;</li>
        <li>listownie na adres: ul. Prosta 67, 00-838 Warszawa;</li>
        <li>telefonicznie pod numerem: +48 570 027 321.</li>
      </ol>
    </li>
  </ol>
  <h2><strong>III. Rodzaje i zakres Usług Booksy</strong></h2>
  <ol>
    <li>
      Booksy udziela Klientom dostępu do Systemu umożliwiającego nawiązanie kontaktu pomiędzy Klientem a Partnerem w
      celu zawierania umów o świadczenie Usług Partnera oraz dokonywanie Rezerwacji.
    </li>
    <li>
      Booksy nie jest stroną żadnych umów pomiędzy Klientem a Parterem i tym samym, nie ponosi żadnej odpowiedzialności
      wobec Klientów za Usługi Partnera.
    </li>
    <li>
      Booksy na podstawie Umowy o Korzystanie z Systemu świadczy na rzecz Klientów m.in. następujące Usługi Booksy:
      <ol>
        <li>umożliwienie korzystanie z Konta;</li>
        <li>udostępnienie wyszukiwarki Partnerów;</li>
        <li>umożliwienie dokonywanie Rezerwacji Usług Partnera;</li>
        <li>dokonywanie płatności za Usługi Partnera na rzecz Partnera za pośrednictwem Systemu;</li>
        <li>otrzymywanie przez Klienta przypomnień o terminie zarezerwowanych Usług Partnera;</li>
        <li>umożliwienie Klientom publikowania opinii o Partnerach oraz Usługach Partnera.</li>
      </ol>
    </li>
    <li>
      Dostępne dla Klienta funkcjonalności Systemu, w tym sposoby / kanały rezerwacji Usług Partnera, jak również sam
      wygląd Aplikacji dla Klientów, zależą od aktualnej dostępności danych rozwiązań i funkcjonalności oraz mogą ulegać
      zmianie ze względów operacyjno-technicznych. Zmiana taka nie będzie stanowiła zmiany Umowy o Korzystanie z
      Systemu.
    </li>
    <li>Booksy z tytułu Umowy o Korzystanie z Systemu nie pobiera od Klientów żadnych opłat.</li>
    <li>
      Wszelkie elementy graficzne, rozwiązania techniczne, tekst, oprogramowanie, bazy danych i&nbsp;inne materiały
      umieszczone i udostępniane w ramach Systemu, jak i sposób ich przedstawienia (układ), podlegają ochronie prawnej.
    </li>
  </ol>
  <h2><strong>IV. Umowa o Korzystanie z Systemu. Odstąpienie i rozwiązanie</strong></h2>
  <ol>
    <li>
      Zawarcie Umowy o Korzystanie z Systemu następuje pomiędzy Booksy a Klientem w momencie akceptacji niniejszego
      Regulaminu w procesie Rejestracji.
    </li>
    <li>Umowa o Korzystanie z Systemu zostaje zawarta na czas nieokreślony.</li>
    <li>Klient uzyskuje dostęp do Systemu po skutecznej Rejestracji i zalogowaniu się na utworzone Konto.</li>
    <li>
      Booksy w celu umożliwienia Klientom korzystanie z Systemu, udziela Klientom nieodpłatnej, niewyłącznej,
      niezbywalnej, nieprzenoszalnej, udzielonej na czas korzystania z Systemu, ograniczonej do terytorium
      Rzeczpospolitej Polskiej z uwzględnieniem eksterytorialnego charakteru sieci Internet, licencji na korzystanie z
      Systemu (“<strong>Licencja</strong>”). Licencja uprawnia Klientów wyłącznie do tymczasowego zwielokrotnienia
      Systemu poprzez jego wyświetlanie w&nbsp;przeglądarce internetowej oraz do jego zwielokrotniania trwałego poprzez
      instalację Systemu w formie aplikacji na urządzeniu mobilnym w celu korzystania z niego zgodnie z jego
      przeznaczeniem i funkcjonalnością określoną w Regulaminie. Klientom nie przysługują jakiekolwiek inne prawa, w tym
      prawa własności intelektualnej, ponad wyraźnie wskazane w Regulaminie, w szczególności Klientom nie przysługuje
      uprawnienie do jakiegokolwiek wykorzystania kodów źródłowych Systemu. Klienci przyjmują do wiadomości, że
      naruszenie postanowień niniejszego punktu skutkować może naruszeniem autorskich praw majątkowych Booksy do Systemu
      oraz pociągnięciem Klienta do odpowiedzialności prawnej z tego tytułu.
    </li>
    <li>
      Klient może odstąpić od Umowy o Korzystanie z Systemu w terminie 14 dni od jej zawarcia bez podania przyczyny lub
      w przypadku, gdy Booksy nie udostępni Klientowi Systemu niezwłocznie po zawarciu umowy z Klientem. Odstąpienie
      wymaga formy dokumentowej i następuje poprzez wysłanie przez Klienta do Booksy oświadczenia o odstąpieniu (i)
      mailowo na adres e-mail: pomoc.pl@booksy.com lub (ii) listownie na adres korespondencyjny Booksy. Wzór
      oświadczenia o odstąpieniu stanowi Załącznik nr 1 do Regulaminu.
    </li>
    <li>
      Klient i Booksy mogą wypowiedzieć Umowę o Korzystanie z Systemu bez podania przyczyny, z&nbsp;zachowaniem
      30-dniowego okresu wypowiedzenia. Wypowiedzenie wymaga formy dokumentowej i następuje poprzez (i) wysłanie przez
      Klienta do Booksy oświadczenia o wypowiedzeniu, na adres e-mail:
      <a href="mailto:pomoc.pl@booksy.com" target="_blank" rel="noopener">pomoc.pl@booksy.com</a> albo (ii) wysłanie
      przez Booksy do Klienta oświadczenia o wypowiedzeniu, na adres e-mail przypisany do Konta danego Klienta w
      Systemie.
    </li>
    <li>
      W przypadku, o którym mowa poniżej w punkcie V ustęp 6, Booksy uprawniona jest do wypowiedzenia Klientowi Umowy o
      Korzystanie z Systemu w trybie natychmiastowym. Wypowiedzenie w tym trybie wymaga formy dokumentowej i następuje
      poprzez wysłanie przez Booksy do Klienta oświadczenia o wypowiedzeniu, na adres e-mail przypisany do Konta danego
      Klienta w Systemie.
    </li>
  </ol>
  <h2><strong>V. Dane Klientów. Obowiązki Klientów</strong></h2>
  <ol>
    <li>
      W procesie Rejestracji wyróżnione i oznaczone są te dane, których podanie jest niezbędne do założenia Konta i
      korzystania z Systemu. Podanie wybranych danych może być niezbędne do dokonania Rezerwacji.
    </li>
    <li>Wszelkie dane i informacje udostępniane są przez Klienta dobrowolnie.</li>
    <li>
      Klient zobowiązany jest do podawania kompletnych i zgodnych z prawdą danych osobowych oraz innych danych
      wymaganych podczas Rejestracji lub Rezerwacji oraz do ich sprawdzania i aktualizowania bez jakichkolwiek wezwań ze
      strony Booksy.
    </li>
    <li>
      Podając jeden adres e-mail lub jeden numer telefonu, Klient może założyć tylko jedno Konto. W przypadku założenia
      kilku Kont z wykorzystaniem tego samego adresu e-mail lub tego samego numeru telefonu, Booksy przysługuje prawo do
      zablokowania pozostałych Kont.
    </li>
    <li>
      Klient zobowiązuje się do:
      <ol>
        <li>przestrzegania niniejszego Regulaminu;</li>
        <li>
          wprowadzania do Systemu jedynie danych do których jest uprawniony, w sposób nienaruszający praw osób trzecich;
        </li>
        <li>udostępniania w Systemie jedynie prawdziwych informacji i danych;</li>
        <li>
          nieumieszczania w Systemie danych, o których mowa w art. 9 RODO, tj. danych osobowych ujawniających
          pochodzenie rasowe lub etniczne, poglądy polityczne, przekonania religijne lub światopoglądowe, przynależność
          do związków zawodowych oraz danych genetycznych, danych biometrycznych umożliwiających jednoznaczne
          zidentyfikowanie osoby fizycznej lub danych dotyczących zdrowia, seksualności lub orientacji seksualnej
          (Booksy nigdy nie wymaga podania takich danych od Klientów w jakimkolwiek celu);
        </li>
        <li>
          korzystania z Systemu tylko w sposób zgodny z jego przeznaczeniem, z poszanowaniem dobrych obyczajów oraz
          zasad współżycia społecznego;
        </li>
        <li>
          przestrzegania zakazu kopiowania, modyfikowania, rozpowszechniania lub reprodukowania całości lub części
          Systemu, w sposób inny niż zgodny z Licencją;
        </li>
        <li>niezakładania więcej niż jednego Konta;</li>
        <li>
          nieudostępniania osobom trzecim dostępu do Konta oraz Profilu (za poufność i bezpieczeństwo Konta oraz
          Profilu, w tym zachowanie w tajemnicy danych niezbędnych do logowania, odpowiedzialny jest wyłącznie Klient);
        </li>
        <li>niezwłocznego informowania Booksy o bezprawnym wykorzystaniu Konta przez osoby trzecie;</li>
        <li>
          nieumieszczania w Systemie, w tym w Koncie ani w Profilu, żadnych treści (w tym informacji, zdjęć, tekstów
          oraz innych): (i) naruszających prawo, sprzecznych z dobrymi obyczajami lub zasadami współżycia społecznego (w
          tym pornograficznych, o zabarwieniu seksualnym lub o nieetycznym charakterze), (ii) związanych z narkotykami,
          dopalaczami, alkoholem lub innymi używkami, a także organizacją gier hazardowych, (iii) naruszających prawa
          osób trzecich (w tym dobra osobiste), (iv) naruszających postanowienia Regulaminu, lub (v) godzących w dobre
          imię lub reputację Booksy (“<strong>Treści Niedozwolone</strong>”);
        </li>
        <li>
          niezwłocznego informowania Booksy, jeżeli osoby trzecie będą dochodzić wobec niego roszczeń w związku z
          naruszeniem prawa przez Klienta w związku z korzystaniem z&nbsp;Systemu;
        </li>
        <li>
          niewykorzystywania w żadnym innym celu niż na potrzeby korzystania z Systemu, danych lub informacji
          pozostałych Użytkowników, do których Klient może mieć dostęp podczas korzystania z Systemu.
        </li>
      </ol>
    </li>
    <li>
      W przypadku naruszenia przez Klientów obowiązków, o których mowa w punkcie 5 powyżej, w umieszczenia przez Klienta
      jakichkolwiek Treści Niedozwolonych, Booksy jest uprawniona do: (i) czasowego zablokowania Konta Klienta; (ii)
      trwałego usunięcia Konta Klienta; (iii) usunięcia Treści Niedozwolonych lub (iv) wypowiedzenia Umowy o Korzystanie
      z Systemu w trybie natychmiastowym, wedle uznania Booksy.
    </li>
    <li>
      Klient ponosi odpowiedzialność za swoje działania związane z korzystaniem z Systemu oraz za treści umieszczone w
      swoim Koncie, Profilu oraz w Systemie.
    </li>
  </ol>
  <h2><strong>VI. Uprawnienia i odpowiedzialność Booksy</strong></h2>
  <ol>
    <li>
      Booksy nie ponosi odpowiedzialności za:
      <ol>
        <li>
          autentyczność, rzetelność, poprawność i kompletność danych i informacji zamieszczonych w Systemie przez
          Użytkowników oraz przekazywanych pomiędzy Użytkownikami za pośrednictwem Systemu;
        </li>
        <li>
          szkody spowodowane przez Użytkowników w związku z nienależytym wykonaniem bądź niewykonaniem przez nich umów
          zawartych za pośrednictwem Systemu;
        </li>
        <li>szkody spowodowane przez Użytkowników poprzez naruszenie praw osób trzecich;</li>
        <li>szkody spowodowane działaniem osób trzecich, za których odpowiedzialności nie ponosi Booksy;</li>
        <li>
          szkody spowodowane w związku ze sprzedażą oraz świadczeniem za pośrednictwem Systemu Usług Partnerów,, w
          szczególności Usług Partnerów wykonanych nienależycie, bez zachowania wymaganych standardów, naruszających
          przepisy prawa lub nieposiadających oferowanych właściwości;
        </li>
        <li>
          szkody spowodowane w związku z brakiem zdolności Użytkowników do zawierania umów za pośrednictwem Systemu oraz
          w związku z niewypłacalnością Użytkowników;
        </li>
        <li>
          szkody poniesione przez Klientów w związku z zablokowaniem lub usunięciem z Systemu Konta w związku z
          naruszeniem przez Klientów postanowień Regulaminu lub powszechnie obowiązujących przepisów prawa.
        </li>
      </ol>
    </li>
    <li>
      Booksy ponosi odpowiedzialność wobec Klientów za zgodność świadczenia Usług z niniejszym Regulaminem oraz ponosi
      odpowiedzialność wyłącznie za szkody poniesione przez Klientów na skutek korzystania z Systemu, w zakresie
      określonym powszechnie obowiązującymi przepisami prawa.
    </li>
    <li>
      Booksy jest uprawniona do częściowego lub całkowitego wyłączenia funkcjonowania Systemu w celu przeprowadzenia
      jego naprawy lub modernizacji. W przypadku całkowitego wyłączenia funkcjonowania Systemu, jeżeli będzie to
      możliwe, na stronie internetowej Booksy zostanie opublikowany stosowny komunikat.
    </li>
    <li>
      Booksy, zgodnie z art. 14 Ustawy z dnia 18 lipca 2002 r. o świadczeniu usług drogą elektroniczną:
      <ol>
        <li>
          nie ponosi odpowiedzialności za przechowywane dane, jeśli nie wie o bezprawnym charakterze danych lub
          związanej z nimi działalności, a w razie otrzymania urzędowego zawiadomienia lub uzyskania wiarygodnej
          wiadomości o bezprawnym charakterze danych lub związanej z nimi działalności niezwłocznie uniemożliwi dostęp
          do tych danych;
        </li>
        <li>
          jeśli otrzyma urzędowe zawiadomienie o bezprawnym charakterze przechowywanych danych dostarczonych przez
          Klienta i uniemożliwi dostęp do tych danych, nie ponosi odpowiedzialności względem Klienta za szkodę powstałą
          w wyniku uniemożliwienia dostępu do tych danych;
        </li>
        <li>
          jeśli uzyska wiarygodną wiadomość o bezprawnym charakterze przechowywanych danych dostarczonych przez Klienta
          i uniemożliwi dostęp do tych danych, nie odpowiada względem tego Partnera za szkodę powstałą w wyniku
          uniemożliwienia dostępu do tych danych, jeżeli niezwłocznie zawiadomi Klienta o zamiarze uniemożliwienia do
          nich dostępu.
        </li>
      </ol>
    </li>
    <li>
      Podział obowiązków związanych z umową, która jest zawierana przez Klienta z Partnerem za pośrednictwem Systemu
      jest następujący:
      <ol>
        <li>
          Booksy odpowiada za udostępnienie Klientowi Systemu umożliwiającego m.in. nawiązanie kontaktu pomiędzy
          Klientem a Partnerem w celu zawierania umów o świadczenie Usług Partnera oraz dokonywanie Rezerwacji;
        </li>
        <li>
          Partner odpowiedzialny jest za wykonanie usługi, którą zarezerwował Klient za pośrednictwem Systemu,
          rozpatrzenie reklamacji oraz umożliwienie skorzystania przez Klienta z praw konsumenta. W celu skorzystania z
          praw konsumenta, Klient zobowiązany jest skontaktować się bezpośrednio z Partnerem odpowiedzialnym za daną
          usługę.
        </li>
      </ol>
    </li>
  </ol>
  <h2><strong>VII. Usługi Partnera. Rezerwacje. Sortowanie. </strong></h2>
  <ol>
    <li>
      Za pośrednictwem Systemu Klient może złożyć żądanie Rezerwacji. Do Rezerwacji oraz zawarcia umowy pomiędzy
      Parterem a Klientem dochodzi z momentem potwierdzenia Rezerwacji przez Partnera (automatycznie lub manualnie).
    </li>
    <li>
      Klient otrzymuje powiadomienie o&nbsp;potwierdzeniu Rezerwacji – za pośrednictwem Systemu lub wiadomości sms /
      e-mail. Dopóki Partner nie potwierdzi Rezerwacji, Rezerwacja ma status niepotwierdzonej, a umowa pomiędzy
      Partnerem a Klientem o wykonanie Usługi Partnera nie zostaje zawarta.
    </li>
    <li>
      Warunki, od których zależy potwierdzenie Rezerwacji lub na jakich świadczona jest Usługa Partnera, mogą być
      określane przez Partnera w&nbsp;informacjach (m.in. regulaminach czy cennikach) udostępnianych Klientowi w
      Systemie. Treść tych informacji oraz przepisy powszechnie obowiązującego prawa, w&nbsp;szczególności przepisy o
      prawach konsumentów, określają czy, jakiego typu i jakiej treści umowa zawierana jest między Partnerem a Klientem.
    </li>
    <li>
      Potwierdzenie Rezerwacji może być w uzależnione przez Partnera od wniesienia przez Klienta kaucji lub przedpłaty –
      informacja o ewentualnym obowiązku i skutkach uiszczenia kaucji lub przedpłaty będzie wtedy udostępniona Klientowi
      w Systemie przed dokonaniem żądania Rezerwacji. Kaucja pobierana jest przez Partnera w chwili rozpoczęcia
      świadczenia Usługi przez Partnera lub po upływie ustalonego przez Partnera terminu, w którym możliwe jest
      bezkosztowe anulowanie Rezerwacji, a przedpłata – w chwili dokonania Rezerwacji.
    </li>
    <li>
      Niedokonanie przedpłaty lub brak kaucji, jeśli są one wymagane przez Partnera, skutkują niepotwierdzeniem
      Rezerwacji.
    </li>
    <li>
      Klient może w każdym czasie anulować Rezerwację nawet po jej uprzednim potwierdzeniu przez Partnera, chyba że
      wcześniej skorzystał z Usługi Partnera. Skutki anulowania Rezerwacji – w&nbsp;szczególności w zakresie pobrania
      przez Partnera kaucji lub zatrzymania przedpłaty – mogą określać warunki Rezerwacji, o których mowa w niniejszym
      punkcie. Nie wyłącza to ani nie ogranicza uprawnień Klienta jako konsumenta, wynikających z przepisów powszechnie
      obowiązujących, w szczególności uprawnienia do odstąpienia od umowy zawartej na odległość, przy czym Booksy nie
      odpowiada za realizację tych uprawnień przez Partnera, w szczególności w razie skutecznego odstąpienia przez
      Klienta od umowy zawartej z Partnerem – to Partner odpowiada wobec Klienta z tytułu zwrotu zapłaconych przez
      Klienta kwot.
    </li>
    <li>
      Klient zobowiązany jest dokonać płatności za Usługę Partnera bezpośrednio Partnerowi na warunkach określonych
      przez Partnera. Booksy oferuje możliwość dokonania płatności za pomocą Systemu. W takim przypadku, płatność za
      Usługę Partnera będzie pobierana od Klienta przez pośrednika płatności, tj. zewnętrzną instytucję obsługującą
      płatności internetowe celem przeprowadzenia dyspozycji płatności składanej przez Klienta, zapewniającą bezpieczny
      kanał płatniczy przez bankowość internetową.
    </li>
    <li>
      Partner ponosi wobec Klienta odpowiedzialność za sposób świadczenia, zaniechanie lub odstąpienie od świadczenia
      Usługi Partnera.
    </li>
    <li>
      W przypadku wyszukiwania przez Klienta usług lub Partnerów, Klientowi wyświetlane są Profile Partnerów
      odpowiadające wszystkim kryteriom wyszukiwania, które wskazał Klient. Klient może użyć filtrów (“Promocje”,
      “Usługi mobilne”, “Usługi online”) oraz lokalizacji, aby zawęzić wyniki wyszukiwania. Klient może również sortować
      Profile Partnerów według następujących kryteriów: “Polecane”, “Odległość” (od najbliższych) lub “Opinie” (od
      najwyżej ocenianych).
    </li>
    <li>
      Główne parametry decydujące o pozycjonowaniu Profili Partnerów w wynikach wyszukiwania Klienta to:
      <ol>
        <li>
          region - w pierwszej kolejności Klientowi wyświetlane są Profile Partnerów, które spełniają warunki
          lokalizacji wyszukiwanej przez Klienta lub lokalizacji, którą Klient udostępnił za pomocą GPS;
        </li>
        <li>
          odległość - w pierwszej kolejności Klientowi wyświetlane są Profile Partnerów, którzy znajdują się najbliżej
          Klienta;
        </li>
        <li>
          dostępność - w pierwszej kolejności Klientowi wyświetlane są Profile Partnerów, które posiadają wolny termin
          na interesującą Klienta usługę;
        </li>
        <li>
          kategoria działalności - Partner może określić, czy dana usługa należy do głównej działalności Partnera, czy
          do dodatkowej. Jeżeli Klient wyszukuje daną usługę, to w pierwszej kolejności Klientowi wyświetlane są Profile
          Partnerów, którzy określili, że wyszukiwana przez Klienta usługa należy do ich głównej kategorii działalności;
        </li>
        <li>
          typ usługi - Partner może określić typ danej usługi. Jeżeli Klient wyszukuje daną usługę poprzez wybranie typu
          usługi, to w pierwszej kolejności Klientowi wyświetlane są Profile Partnerów, którzy określili ten sam typ
          usługi;
        </li>
        <li>
          oceny - w pierwszej kolejności Klientowi wyświetlane są Profile Partnerów, którzy posiadają najwyższe oceny
          wynikające z opinii innych Klientów;
        </li>
        <li>
          płeć - w pierwszej kolejności Klientowi wyświetlane są Profile Partnerów dostosowane do podanej przez Klienta
          płci;
        </li>
        <li>
          promocje - w pierwszej kolejności Klientowi wyświetlane są Profile Partnerów, które posiadają w momencie
          wyszukiwań najwyższe Promocje;
        </li>
        <li>
          wyświetlenia Profilu Partnera a zrealizowane wizyty - Booksy analizuje proporcje liczby wyświetleń Profilu
          Partnera do liczby zrealizowanych wizyt u tego Partnera. W pierwszej kolejności Klientowi wyświetlane są
          Profile Partnerów, które mają najwyższą wartość w tym zakresie;
        </li>
        <li>
          zrealizowane wizyty, które zostały zarezerwowane przez Klienta - w pierwszej kolejności Klientowi wyświetlane
          są Profile Partnerów, którzy posiadają najwięcej zrealizowanych wizyt, które zostały samodzielnie
          zarezerwowane przez Klienta za pośrednictwem Aplikacji;
        </li>
        <li>
          ponowne wizyty - w pierwszej kolejności Klientowi wyświetlane są Profile Partnerów, u których najwięcej
          Klientów zarezerwowało ponownie wizytę.
        </li>
      </ol>
    </li>
    <li>
      Wpływ na wyniki wyszukiwania wyświetlone Klientowi, może mieć również zakup przez Partnera fakultatywnej,
      dodatkowej usługi Booksy polegającej na wsparciu Partnera w pozyskaniu nowych Klientów. Profile Partnerów, którzy
      wykupili tę dodatkową usługę są wyświetlane wyżej w wynikach wyszukiwania Klienta.
    </li>
  </ol>
  <h2><strong>VIII. Reklamacje dotyczące Usług Partnerów</strong></h2>
  <ol>
    <li>
      Reklamacje dotyczące niewykonania lub nienależytego wykonania Usług Partnera należy kierować bezpośrednio do
      Partnerów.
    </li>
    <li>
      Partner ponosi względem Klienta odpowiedzialność za rozpatrywanie reklamacji dotyczących Usług Partnera zgodnie z
      powszechnie obowiązującymi przepisami prawa.
    </li>
    <li>
      Dane Partnera niezbędne do złożenia reklamacji, w tym właściwy adres pocztowy lub adres e-mail, są udostępniane w
      profilu Partnera w Systemie.
    </li>
  </ol>
  <h2><strong>IX. Karty Podarunkowe</strong></h2>
  <ol>
    <li>
      Partnerzy mogą udostępniać Klientom możliwość korzystania z elektronicznych bonów, uprawniających ich Klientów lub
      osoby przez nich wskazane do skorzystania z Usługi Partnera na zasadach z góry przez niego określonych, z
      elektronicznie przypisanymi informacjami o wartości bonu („<strong>Karta Podarunkowa</strong>”). Karta Podarunkowa
      w szczególności może mieć formę wiadomości e-mail lub dokumentu w formacie PDF (lub innym).
    </li>
    <li>
      Karta Podarunkowa oferowana jest przez Partnerów w Systemie za pośrednictwem dedykowanej funkcjonalności. Przed
      wydaniem Karty Podarunkowej musi ona zostać opłacona przez Klienta. Sposób opłacania Karty Podarunkowej przez
      Klienta odbywa się na zasadach ustalonych przez Partnera i umieszczonych w opisie Karty Podarunkowej. Karta
      Podarunkowa jest aktywowana przez Partnera po otrzymaniu płatności. Booksy nie przetwarza żadnych informacji, w
      tym danych osobowych, dotyczących płatności dokonywanych w związku opłacaniem Karty Podarunkowej.
    </li>
    <li>
      Partnerzy ponoszą wyłączną odpowiedzialność za sprzedaż, przekazanie i realizację Karty Podarunkowej oraz za
      należyte wykonanie Usługi Partnera objętej Kartą Podarunkową.
    </li>
    <li>
      Prowizja operatora płatności za dokonanie płatności w celu wykupienia Karty Podarunkowej nie obciąża Klienta.
    </li>
    <li>
      Zasady, na jakich udostępniana i realizowana jest Karta Podarunkowa określa Partner w&nbsp;treści udostępnionej
      przez niego w Systemie oferty lub regulaminu. W szczególności Partner może określić:
      <ol>
        <li>jakiej Usługi Partnera, zakresu lub typu Usług Partnera dotyczy dana Karta Podarunkowa;</li>
        <li>wartość Karty Podarunkowej wyrażoną w walucie;</li>
        <li>
          dyskonto (np. Karta Podarunkowa kosztuje 100 zł, ale upoważnia do skorzystania z Usługi Partnera wartej 120
          zł);
        </li>
        <li>okres ważności Karty Podarunkowej, tj. okres do którego można z Karty Podarunkowej skorzystać;</li>
        <li>czy Karta Podarunkowa jest imienna czy na okaziciela;</li>
        <li>
          czy w razie skorzystania z Usługi Partnera za cenę niższą niż wartość Karty Podarunkowej, pozostała kwota
          przepada czy pozostaje do wykorzystania;
        </li>
        <li>
          czy można skorzystać z Usługi Partnera o cenie wyższej niż wartość Karty Podarunkowej lub kwoty pozostałej do
          wykorzystania, uiszczając dodatkową płatność;
        </li>
        <li>zasady i terminy zwrotu Karty Podarunkowej;</li>
        <li>możliwość blokady Karty Podarunkowej w razie jej utraty;</li>
        <li>
          dodatkowe elementy, np. pierwszeństwo w rezerwacji terminów albo możliwość lub brak możliwości skorzystania z
          określonych promocji.
        </li>
      </ol>
    </li>
    <li>
      Określone przez Partnera zasady, na jakich udostępniana i realizowana jest Karta Podarunkowa nie wyłączają ani nie
      ograniczają:
      <ol>
        <li>przepisów prawa powszechnie obowiązujących, w tym przepisów chroniących konsumentów;</li>
        <li>
          zasad zwrotów płatności typu chargeback określonych odpowiednimi regulaminami banków lub operatorów /
          dostawców kart płatniczych / kredytowych.
        </li>
      </ol>
    </li>
    <li>Karta Podarunkowa nie podlega wymianie na gotówkę bez zgody Partnera.</li>
  </ol>
  <h2><strong>X. Publikowanie opinii w Systemie</strong></h2>
  <ol>
    <li>
      Klient ma możliwość umieszczania w Systemie opinii o Partnerach oraz świadczonych Usługach Partnerów
      (“<strong>Opinia</strong>”). Opinia musi zostać opatrzona podpisem (nickiem) lub danymi Klienta. Zamieszczenie
      przez Klienta Opinii równoznaczne jest każdorazowo ze zgodą na publikację danej Opinii i danych Klienta.
    </li>
    <li>
      Opinie o Partnerach mogą:
      <ol>
        <li>dotyczyć wyłącznie Rezerwacji, która się odbyła / Usługi Partnera, która była świadczona;</li>
        <li>dotyczyć wyłącznie ich działalności profesjonalnej i świadczonych Usług Partnera;</li>
        <li>opierać się wyłącznie na osobistych doświadczeniach związanych z Usługami Partnera.</li>
      </ol>
    </li>
    <li>
      Klient ponosi odpowiedzialność za publikowane treści, w zakresie uregulowanym powszechnie obowiązującymi
      przepisami. Booksy nie ponosi odpowiedzialności za treści publikowane przez Klientów.
    </li>
    <li>
      Klient zobowiązuje się, że:
      <ol>
        <li>
          będą mu przysługiwać wszelkie prawa do treści stanowiących publikowane przez niego Opinie, w tym autorskie
          prawa majątkowe, lub że będzie posiadać niezbędne uprawnienia i zgody do ich publikacji – upoważniając tym
          samym osoby trzecie, w tym w szczególności Booksy, do korzystania z nich w zakresie opisanym w Regulaminie;
        </li>
        <li>nie będzie publikować Opinii nieprawdziwych lub celowo wprowadzających w błąd;</li>
        <li>
          nie będzie zamieszczać w swoich Opiniach Treści Niedozwolonych, jak również treści reklamowych, marketingowych
          lub zawierających tzw. lokowanie produktu;
        </li>
        <li>
          jego Opinie nie będą zawierać krzywdzących, zniesławiających lub nieetycznych treści ani naruszać prawa, dóbr
          osobistych ani zasad współżycia społecznego, w szczególności, nie będą zawierać wyrażeń wulgarnych i
          obraźliwych, odnosić się do życia prywatnego i rodzinnego oraz wzywać do stosowania przemocy lub nienawiści,
          w&nbsp;tym rasowej, wyznaniowej lub etnicznej, lub wobec mniejszości seksualnych, ani zawierać treści
          zniesławiających.
        </li>
      </ol>
    </li>
    <li>
      Booksy ma prawo odmówić opublikowania Opinii, a opublikowaną Opinię usunąć, jeżeli jest ona w ocenie Booksy
      sprzeczna z Regulaminem lub przepisami prawa. Usunięcie Opinii jest nieodwracalne.
    </li>
    <li>
      Z chwilą zamieszczenia treści w Systemie, Klient udziela Booksy niewyłącznej, nieodpłatnej, nieograniczonej
      terytorialnie oraz nieograniczonej w czasie licencji na korzystanie z treści zamieszczonych przez Klienta w
      Systemie zgodnie z Regulaminem, w tym na korzystanie z wizerunku Klienta, na następujących, znanych w chwili
      udzielenia licencji, polach eksploatacji:
      <ol>
        <li>
          w zakresie utrwalania i zwielokrotniania treści zamieszczonych przez Klienta w Systemie – wytwarzanie
          określoną techniką egzemplarzy tych treści, w tym techniką cyfrową, zapisu magnetycznego oraz techniką
          drukarską i reprograficzną;
        </li>
        <li>
          w zakresie obrotu oryginałem albo egzemplarzami, na których utrwalono treści zamieszczone przez Klienta w
          Systemie – wprowadzanie do obrotu oryginału albo egzemplarzy utworu;
        </li>
        <li>
          w zakresie rozpowszechniania treści zamieszczonych przez Klienta w Systemie w sposób inny niż określony w lit.
          b. – publiczne wykonanie, wystawienie, wyświetlenie, odtworzenie oraz nadawanie i reemitowanie, a&nbsp;także
          publiczne udostępnianie tych treści w taki sposób, aby każdy mógł mieć do niego dostęp w miejscu i w czasie
          przez siebie wybranym, w tym udostępnianie tych treści w sieci Internet, w szczególności w Systemie.
        </li>
      </ol>
    </li>
    <li>
      Zakres licencji wskazany w ust. 6 powyżej obejmuje prawo Booksy do korzystania z treści w&nbsp;ramach Systemu – w
      celu zapewnienia funkcjonowania, promocji i reklamy Systemu i treści zamieszczonych w Systemie przez osoby trzecie
      oraz informowania o działalności Systemu – także po rezygnacji Klienta z korzystania z Systemu oraz po usunięciu
      Konta Klienta. Rezygnacja Klienta z korzystania z Systemu lub usunięcie Konta przez Klienta nie ma wpływu na
      obowiązywanie ww. licencji.
    </li>
    <li>
      Wraz z zawarciem Umowy na Korzystanie z Serwisu, Klient wyraża zgodę na wykorzystanie swojego wizerunku w okresie
      korzystania z Serwisu, w celach promowania Usług, w sposób określony w ust. 6 lit. a - c powyżej.
    </li>
    <li>
      Jeżeli treści publikowane przez Klienta zawierają wizerunek Klienta lub osoby trzeciej, z chwilą zamieszczenia
      takiej treści w Systemie Klient udziela Booksy nieodpłatnej zgody na wykorzystanie ww. wizerunku, w szczególności
      w celach promocyjnych i marketingowych Booksy i Partnera, na zasadach i polach eksploatacji wskazanych w ust. 6 -
      8 powyżej.
    </li>
    <li>
      Klient w zakresie określonym powszechnie obowiązującymi przepisami prawa, ponosi odpowiedzialność odszkodowawczą
      względem Booksy za szkody, jakie Booksy poniesie w związku z umieszczeniem w Systemie treści opublikowanych przez
      Klienta oraz korzystaniem przez Booksy z treści na warunkach licencji i zgody wskazanych w&nbsp;ust. 6 - 9
      powyżej.
    </li>
    <li>
      Opinie wystawione przez Klientów, którzy skorzystali z usług danego Partnera oznaczane są znacznikiem
      “Zweryfikowany Użytkownik Booksy”. Co do tych opinii Booksy zapewnia, że pochodzą one wyłącznie od Klientów,
      którzy skorzystali z usług danego Partnera. Wyłącznie po zrealizowaniu Usługi Partnera, Klienci uzyskują możliwość
      opublikowania opinii. Co do opinii nieposiadających znacznika “Zweryfikowany użytkownik Booksy”, Booksy nie
      zapewnia, że takie opinie pochodzą od Klientów, którzy skorzystali z usług danego Partnera.
    </li>
  </ol>
  <h2><strong>XI. Program Poleceń dla Klientów </strong></h2>
  <ol>
    <li>
      Booksy umożliwia Klientom udział w programie poleceń, którego celem jest zaproszenie do Booksy nowych Partnerów
      (“<strong>Program Poleceń</strong>”).
    </li>
    <li>
      Program Poleceń skierowany jest do wszystkich Klientów Booksy, za wyjątkiem Klientów będących jednocześnie
      Partnerami, osobami powiązanymi organizacyjnie lub kapitałowo z Partnerami (przykładowo: właściciel, pracownik,
      współpracownik Partnera) lub osobami spokrewnionymi z Partnerem.
    </li>
    <li>
      Klient otrzymuje w Systemie jeden indywidualny link polecający, do wielokrotnego wykorzystania, który może zostać
      udostępniony potencjalnym Partnerom.
    </li>
    <li>
      Aby uznać polecenie, potencjalny Partner musi użyć linku polecającego do rejestracji w Aplikacji dla Partnerów
      oraz posiadać i opłacać abonament Booksy przez 2 kolejne pełne okresy rozliczeniowe. Jeżeli Partner nie dokończy
      rejestracji przez podany link polecający, polecenie nie zostanie uznane, bez względu na to, czy dany Partner
      ostatecznie zawarł umowę z Booksy. Nagroda nie może zostać przyznana, jeśli zaproszony Partner korzystał już
      wcześniej z systemu Booksy lub systemu Versum tj. gdy posiadał już konto testowe lub abonament wymienionych
      platform.
    </li>
    <li>
      Za uznane polecenie, Klient otrzymuje nagrodę w postaci karty podarunkowej w wysokości 200 zł (sto złotych) na
      zakupy w portalu Allegro (https://allegro.pl). Karta podarunkowa przekazywana jest w formie elektronicznej, na
      adres e-mail Klienta użyty do Rejestracji w Systemie.
    </li>
    <li>
      Zasady wykorzystania kart podarunkowych Allegro są regulowane przez regulamin Allegro.pl spółka z ograniczoną
      odpowiedzialnością, dostępny każdorazowo na stronie https.//allegro.pl/ w sekcji “Regulaminy”.
    </li>
    <li>
      Linki polecające mogą być wykorzystane tylko w połączeniu z Programem Polecającym. Booksy może ograniczać dostęp
      lub korzystanie z linków polecających oraz ustalić rodzaj i maksymalne wartości nagród, w dowolnym momencie i
      według własnego uznania. Booksy posiada wszelkie prawa do linków polecających oraz wszelkich treści i własności
      intelektualnej z nimi związanej. Booksy przekazuje nagrody za polecenie w sposób określony w Regulaminie. Booksy
      może wstrzymać realizację nagród za polecenie, jeśli uzna, że naruszono warunki Programu Poleceń lub innych umów z
      Booksy lub jeśli uzna, że nagroda za polecenie została błędnie przekazana. Klient polecający jest odpowiedzialny
      za wszystkie podatki wynikające z nagród za polecenie. Booksy nie będzie zgłaszać organom podatkowym żadnych
      dochodów związanych nagrodami za polecenie, chyba że jest to wymagane przez prawo.
    </li>
    <li>
      Biorąc udział w Programie Poleceń, Klient zobowiązuje się do:
      <ol>
        <li>
          nie przedstawiania siebie jako pracownika, współpracownika, przedstawiciela lub osoby upoważnionej na
          jakiejkolwiek podstawie do występowania w imieniu Booksy, jak również nie sugerowania jakichkolwiek powiązań z
          Booksy;
        </li>
        <li>nie korzystania z programów do automatycznego wysyłania wiadomości do osób trzecich;</li>
        <li>przestrzegania obowiązujących przepisów prawa;</li>
        <li>
          udostępniania linków polecających wyłącznie istniejącym osobom fizycznym lub podmiotom gospodarczym, tym samym
          do nie podejmowania nieuczciwych działań lub wprowadzających w błąd, jak również obraźliwych;
        </li>
        <li>
          nie tworzenia lub używania linków polecających w kontekście jakichkolwiek działań, które naruszają prawa
          jednostki, promują przemoc, nienawiść, są dyskryminacje, obsceniczne lub obraźliwe;
        </li>
        <li>nie naruszania prywatności ani praw własności intelektualnej osób trzecich;</li>
      </ol>
      dalej każde z powyższych jako “<strong>Naruszenie Zasad Programu Poleceń</strong>”. <br /><br />Wystąpienie
      jakiegokolwiek Naruszenia Zasad Programu Poleceń skutkuje utratą wszystkich nagród za polecenia, które oczekują na
      przyznanie na rzecz danego Klienta.
    </li>
    <li>
      Postanowienia niniejszego Punktu XI są wiążące względem danego Klienta od momentu wysłania lub wygenerowania przez
      Klienta pierwszego linku polecającego.<br />
    </li>
    <li>
      Odpowiedzialność Booksy wynikająca z ewentualnych szkód bezpośrednich ogranicza się do łącznej kwoty nagród
      należnych za ostatnie trzy miesiące. Booksy nie ponosi odpowiedzialności za ewentualne szkody pośrednie,
      niezależnie od tego czy wcześniej poinformowano o nich. Zastrzeżenie to będzie miało zastosowanie bez względu na
      podstawę prawną, na której opierają się roszczenia.
    </li>
  </ol>
  <h2><strong>XII. Płatności mobilne </strong></h2>
  <ol>
    <li>
      Booksy zawarło umowę z zewnętrznym dostawcą bramek płatniczych, aby umożliwić Partnerom przyjmowanie płatności od
      Klientów, korzystających zarówno z kart kredytowych, jak i debetowych. Klient może skorzystać z płatności mobilnej
      poprzez usługę „<em>Pay by App</em>” w Systemie, jedynie gdy dany Partner aktywuje dla Klientów opcję płatności
      kartą (Visa, Mastercard i American Express) (“<strong>Płatności Mobilne</strong>”).
    </li>
    <li>
      Usługi dostawcy bramki płatniczej oraz Płatności Mobilne są całkowicie niezależne od Booksy i nie stanowią części
      Umowy o Korzystanie z Serwisu, zawartej między Booksy a Klientem. Booksy nie przetwarza, nie gromadzi ani nie
      przechowuje żadnych danych dotyczących kart płatniczych, pozwalających na identyfikację karty płatniczej.. Booksy
      nie obsługuje bezpośrednio transakcji płatniczych i nie jest dostawcą usług płatniczych ani instytucją płatniczą w
      rozumieniu przepisów prawa.
    </li>
    <li>
      Płatności za Usługi Partnera, dokonywane kartą kredytową lub debetową przez Klienta na rzecz danego Partnera,
      rozlicza unijna instytucja płatnicza Adyen B.V. z siedzibą w Amsterdamie (Holandia), zgodnie z regulaminem
      dostępnym każdorazwo pod adresem https://www.adyen.com/pl_PL/legal/terms-and-conditions.
    </li>
    <li>
      Aby korzystać z Płatności Mobilnych, Klient musi podać dostawcy usług bramki płatniczej dane ważnej karty
      debetowej lub kredytowej.
    </li>
    <li>
      Klient korzystający z Płatności Mobilnych, gwarantuje, że jest prawnie upoważniony do dokonywania takich płatności
      z rachunku(-ów) karty debetowej lub kredytowej oraz że takie działanie nie narusza warunków korzystania z
      rachunków takich kart ani obowiązującego prawa. Autoryzując płatność za pomocą karty debetowej lub kredytowej,
      Klient gwarantuje, że dostępne są wystarczające środki lub kredyt, aby dokończyć płatność.
    </li>
    <li>
      Klient po wskazaniu w Systemie, że zamierza dokonać zapłaty za pomocą płatności mobilnych, upoważnia Booksy i
      dostawcę usług płatniczych do obciążenia karty debetowej lub kredytowej pełną kwotą Usług, które rezerwuje oraz
      wszelkimi opłatami za anulowanie. Klient jest odpowiedzialny za terminowe uregulowanie wszystkich kwot, które jest
      winien Partnerom.
    </li>
    <li>
      Płatność Mobilną należy każdorazowo potwierdzić w Aplikacji dla Klienta. Klient może jednak aktywować w Aplikacji
      dla Klienta automatyczne akceptowanie Płatności Mobilnych - w takim przypadku, Płatności Mobilne będą dokonywane
      bez konieczności potwierdzania przez Klienta każdorazowej płatności.
    </li>
    <li>
      Historia Płatności Mobilnych jest dostępna na Koncie Klienta w Aplikacji dla Klienta. Klient może w każdej chwili
      wygenerować e-mail z potwierdzeniem takiej historii Płatności Mobilnych. Tak wygenerowane potwierdzenie nie jest
      paragonem, fakturą ani żadnym innym dokumentem księgowym czy fiskalnym.
    </li>
    <li>
      Booksy nie ponosi odpowiedzialności za żadne płatności, których Płatności Mobilne nie rozliczą, to jest w
      szczególności w przypadku gdy (i) konto karty płatniczej nie zawiera wystarczających środków do sfinalizowania
      transakcji lub transakcja przekroczyłaby limit kredytowy lub ochronę debetu lub kredytu w rachunku bieżącym konto
      karty; (ii) nie zostały podane poprawne informacje o karcie płatniczej; (iii) wygasła ważność karty debetowej lub
      kredytowej; (iv) okoliczności niezależne (takie jak między innymi przerwy w dostawie prądu, przerwy w świadczeniu
      usług komórkowych lub jakiekolwiek inne zakłócenia z zewnątrz) uniemożliwiają wykonanie transakcji; (v) bank
      obsługujący transakcję odmawia jej autoryzacji z innych powodów niż te, określone powyżej. W zakresie, w jakim
      jakiekolwiek należne kwoty nie mogą zostać pobrane z konta debetowego lub kredytowego za pośrednictwem Płatności
      Mobilnych, Klient ponosi wyłączną odpowiedzialność za zapłacenie Partnerowi innymi środkami, takimi jak gotówka,
      pełnej wartości zaplanowanej i / lub świadczonej Usługi Partnera.
    </li>
  </ol>
  <h2><strong>XIII. Wymagania techniczne</strong></h2>
  <ol>
    <li>
      W celu korzystania z Systemu na komputerze konieczne jest posiadanie urządzeń pozwalających na dostęp do
      Internetu, poczty elektronicznej oraz przeglądarki internetowej. Korzystanie z Systemu wymaga aktywnego połączenia
      z&nbsp;Internetem. Korzystanie z Systemu na urządzeniu mobilnym wymaga dysponowania sprawnym urządzeniem mobilnym
      z aktualnym systemem Android lub iOS. Klient we własnym zakresie i na własną odpowiedzialność powinien zadbać o
      spełnienie wymogów technicznych urządzenia mobilnego, jego konfigurację, aktualność oprogramowania oraz o dostęp
      do Internetu. Koszty zakupu urządzenia mobilnego, innych urządzeń pozwalających na dostęp do Internetu oraz koszty
      połączenia z Internetem, ponosi w całości Klient.
    </li>
    <li>
      Do szczególnych zagrożeń związanych z korzystaniem przez Klientów z Systemu należy udostępnianie danych do
      logowania osobom do tego niepowołanym, które mogą w sposób celowy zmienić konfigurację Konta lub Profilu. W
      związku z tym, Klient ma obowiązek zachować w&nbsp;tajemnicy dane do logowania i nie udostępniać ich osobom
      trzecim. Booksy nie ponosi odpowiedzialności za straty wynikłe w przypadku udostępnienia haseł lub Konta.
    </li>
    <li>
      Booksy informuje Klienta o aktualizacjach Systemu, w tym dotyczących zabezpieczeń niezbędnych do zachowania
      zgodności Systemu z niniejszym Regulaminem oraz dostarcza je Klientowi przez czas udostępniania Systemu.
    </li>
  </ol>
  <h2><strong>XIV. Reklamacje dotyczące nieprawidłowego działania Systemu</strong></h2>
  <ol>
    <li>
      Nieprawidłowości w działaniu Systemu mogą być reklamowane przez Klientów poprzez stosowne zawiadomienie Booksy.
    </li>
    <li>
      Reklamacje dotyczące działania Systemu należy zgłaszać za pomocą poczty elektronicznej na adres e-mail:
      pomoc.pl@booksy.com.
    </li>
    <li>
      Booksy zastrzega sobie prawo żądania od reklamującego udzielenia informacji lub wyjaśnień w sytuacji, gdy wymaga
      tego rozpoznanie reklamacji.
    </li>
    <li>Reklamacja będzie rozpatrywana w terminie 30 dni od dnia jej otrzymania.</li>
    <li>
      Odpowiedź na reklamację wysyłana będzie na adres e-mail przypisany do Konta danego Klienta lub na adres
      zamieszkania wskazany w reklamacji składanej w formie pisemnej.
    </li>
    <li>
      Klient ma możliwość skorzystania z pozasądowych sposobów rozpatrywania reklamacji i&nbsp;dochodzenia roszczeń
      przed Stałym Polubownym Sądem Konsumenckim przy Mazowieckim Wojewódzkim Inspektorze Inspekcji Handlowej.
      Informacje o sposobie dostępu do ww. trybu i procedur rozstrzygania sporów znajdują się na stronie
      http://spsk.wiih.org.pl/. Klient ma również możliwość skorzystania z unijnej platformy internetowej ODR, dostępnej
      na stronie https://ec.europa.eu/consumers/odr/.
    </li>
  </ol>
  <h2><strong>XV. Dane osobowe. Prywatność</strong></h2>
  <ol>
    <li>
      Szczegółowe informacje na temat podstaw prawnych i celów przetwarzania przez Booksy danych osobowych Klientów
      dostępne są w Załączniku nr 2 do Regulaminu.
    </li>
    <li>
      Klient jest zobowiązany do aktualizacji swoich danych osobowych, w szczególności znajdujących się na jego Profilu,
      Koncie albo w Systemie.
    </li>
    <li>
      Klient, zamieszczając swoje dane w Systemie:
      <ol>
        <li>
          wyraża zgodę na to, że jego imię oraz zdjęcie udostępnione przez niego w Profilu będą dostępne dla wszystkich
          użytkowników sieci Internet;
        </li>
        <li>
          Partnerzy będą kontaktować się z nim bezpośrednio na podany przez niego podczas Rejestracji adres e-mail lub
          nr telefonu.
        </li>
      </ol>
    </li>
    <li>
      Klient przy tworzeniu Konta może wyrazić odpowiednie zgody dotyczące przetwarzania danych osobowych i komunikacji
      elektronicznej w innych celach nich wykonanie umowy zawartej z&nbsp;Booksy.
    </li>
    <li>
      Istotą Systemu oraz Aplikacji dla Partnerów jest umożliwienie Partnerom świadczenia Usług Partnerów na rzecz
      Klientów oraz umożliwienie Klientom korzystania z Usług Partnerów, jak również promowanie Usług Booksy oraz Usługi
      Partnerów. W związku z tym Booksy i Partnerzy przetwarzają dane osobowe Klientów we własnych celach, zatem są
      odrębnymi administratorami ich danych osobowych. Ponadto:
      <ol>
        <li>
          Klient może w Aplikacji dodatkowo udzielić Partnerowi zgód na przetwarzanie przez niego danych osobowych
          Klienta w innych celach niż w celu wykonania umowy z Klientem;
        </li>
        <li>
          Booksy udostępnia Partnerowi za pomocą Aplikacji dane osobowe Klienta potrzebne do potwierdzenia Rezerwacji
          oraz świadczenia przez niego Usług na rzecz tego Klienta;
        </li>
        <li>
          Partner staje się administratorem danych osobowych takiego Klienta, w związku z czym zobowiązany jest do
          przestrzegania zasad określonych w RODO i ponosi za to odpowiedzialność wynikającą z przepisów.
        </li>
      </ol>
    </li>
    <li>
      Z uwagi na fakt, że istotą funkcjonowania Systemu jest dokonywanie Rezerwacji Usług, która wiąże się z
      koniecznością potwierdzenia Rezerwacji i terminu wykonania Usługi, Klient po dokonaniu Rezerwacji będzie
      otrzymywał za pośrednictwem Systemu, korespondencję e-mail / push lub wiadomości sms zawierające ww.
      potwierdzenia. Potwierdzenia te nie zawierają treści marketingowych ani handlowych, a jedynie informacje dotyczące
      Rezerwacji.
    </li>
    <li>
      Gdy Partner będzie korzystać z narzędzi dostępnych w ramach Booksy (m.in. kalendarz wizyt, przypomnienia,
      marketing) – Booksy będzie w niezbędnym zakresie w imieniu Partnera przetwarzać dane Klienta na zasadach
      określonych w zawartej z Partnerem – zgodnie z art. 28 RODO – umowie powierzenia przetwarzania danych osobowych, a
      Partner nadal będzie administratorem jego danych osobowych.
    </li>
    <li>
      Cele, w jakich Partner będzie mógł przetwarzać dane Klienta będą uzależnione od tego, jakie Partner posiada
      podstawy do przetwarzania danych Klienta, w tym czy i&nbsp;jakich zgód Klient udzielił Partnerowi na przetwarzanie
      jego danych osobowych, czy tych zgód nie wycofał oraz czy nie zgłosił sprzeciwu wobec przetwarzania przez Partnera
      jego danych osobowych.
    </li>
    <li>
      Polityka prywatności Booksy, w tym polityka plików cookies dostępna na stronie internetowej Booksy
      (https://booksy.com/pl-pl/p/privacy).
    </li>
  </ol>
  <h2><strong>XVI. Postanowienia końcowe</strong></h2>
  <ol>
    <li>Booksy zastrzega sobie prawo do zmiany Regulaminu.</li>
    <li>
      Zmiany zostaną opublikowane w postaci tekstu jednolitego wraz z informacją o ich dokonaniu na stronie internetowej
      https://booksy.com.
    </li>
    <li>
      O zmianach Regulaminu Booksy zawiadomi Klienta za pośrednictwem wiadomości e-mail przesłanej na adres poczty
      elektronicznej powiązany z Kontem Klienta lub w drodze korespondencji wewnętrznej kierowanej do Klienta
      bezpośrednio na Konto w Systemie, na 15 dni przed ich wejściem w życie.
    </li>
    <li>
      Klient może nie zaakceptować zmian Regulaminu i w takim wypadku ma prawo żądać usunięcia Konta poprzez złożenie
      stosownego oświadczenia w&nbsp;formie pisemnej lub dokumentowej, w terminie 15 dni od daty zawiadomienia o zmianie
      Regulaminu. W przypadku braku takiego żądania przyjmuje się, że Klient zaakceptował zmiany bez zastrzeżeń.
    </li>
    <li>
      Integralnymi częściami Regulaminu są następujące załączniki:
      <ol>
        <li>
          Załącznik nr 1 do Regulaminu Aplikacji Booksy dla Klientów „Wzór oświadczenia o&nbsp;odstąpieniu od umowy”.
        </li>
      </ol>
    </li>
  </ol>
  <h2><strong>Załącznik nr 1 do Regulaminu Aplikacji Booksy dla Klientów </strong></h2>
  <h2><strong>Wzór oświadczenia o odstąpieniu od Umowy o Korzystanie z Systemu </strong></h2>
  <p><strong>Booksy International sp. z o.o. </strong></p>
  <p>ul. Prosta 67</p>
  <p>00-838 Warszawa</p>
  <p>pomoc.pl@booksy.com</p>
  <p>
    Ja niżej podpisany, niniejszym informuję o moim odstąpieniu od Umowy o Korzystanie z Systemu (korzystanie z
    Aplikacji Booksy dla Klientów).
  </p>
  <table>
    <thead>
      <tr>
        <th>
          <p>Imię i nazwisko konsumenta:</p>
        </th>
        <th class="empty"></th>
      </tr>
      <tr>
        <th>
          <p>e-mail używany w aplikacji Booksy:</p>
        </th>
        <th class="empty"></th>
      </tr>
      <tr>
        <th>
          <p>nr. telefonu używany w aplikacji Booksy:</p>
        </th>
        <th class="empty"></th>
      </tr>
      <tr>
        <th>
          <p>data:</p>
        </th>
        <th class="empty"></th>
      </tr>
      <tr>
        <th>
          <p>podpis:</p>
        </th>
        <th class="empty"></th>
      </tr>
    </thead>
  </table>
  <p><em>* Klient uzupełnia wszystkie wersy powyższej tabeli </em></p>

  <p><small class="lastUpdate">Ostatnia aktualizacja: 7 września 2023</small></p>
</div>
