<div class="navigation__container">
    <div class="navigation__title-container">
        <span nz-icon nzType="calendar" nzTheme="outline"></span>
        BA
    </div>

    <div class="navigation__items-container">
        <hub-nav-item text="O nas" routerLink="/"></hub-nav-item>
        <hub-nav-item text="Ceny"></hub-nav-item>
        <hub-nav-item text="Znajdź zajęcia" routerLink="/find-activities"></hub-nav-item>
    </div>

    <div *ngIf="loginService.user$ | async as user; else login">
        {{user.email}}
        <hub-button *ngIf="user" text="Wyloguj" (click)="signOut()"></hub-button>
    </div>
    <ng-template #login>
        <hub-button text="Zaloguj się" routerLink="/log-in"></hub-button>
    </ng-template>
    
</div>