<div class="navigation__container">
  <div class="navigation__container--left">
    <div class="navigation__title-container" routerLink="/">
      <img alt="Logo" src="../../../assets/icons/app-icon.svg" class="logo-icon" />
    </div>

    <div class="navigation__items-container">
      <nz-input-group nzCompact nzSearch [nzAddOnAfter]="suffixButton">
        <input class="search__name" [(ngModel)]="phrase" type="phrase" nz-input placeholder="Szukaj zajęć" />
        <nz-select
          *ngIf="(resizeService.isSmall$ | async) === false"
          class="search__categories"
          [(ngModel)]="categories"
          nzPlaceHolder="Kategoria"
          nzMode="multiple"
          [nzMaxTagCount]="1"
        >
          <nz-option
            *ngFor="let option of categoriesOptions"
            [nzLabel]="option.label"
            [nzValue]="option.value"
          ></nz-option>
        </nz-select>
      </nz-input-group>
      <ng-template #suffixButton>
        <button
          title="Szukaj zajec"
          (click)="searchActivities()"
          class="search__suffix"
          nz-button
          nzType="primary"
          nzSearch
        >
          <span nz-icon nzType="search"></span>
        </button>
      </ng-template>
    </div>
  </div>

  <div *ngIf="loginService._user$ | async as user; else login" class="sign-in-container">
    <div class="login-button">
      <nz-avatar
        nz-dropdown
        nzTrigger="click"
        [nzDropdownMenu]="menu"
        nzSize="large"
        [nzText]="userInitials"
        nzPlacement="bottomRight"
      ></nz-avatar>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li nz-menu-item routerLink="/favourites">Ulubione</li>
          <li nz-menu-item routerLink="/your-activities">Twoje zajęcia</li>
          <li nz-menu-item routerLink="/profile">Profil</li>
          <li nz-menu-item (click)="signOut()">Wyloguj</li>
        </ul>
      </nz-dropdown-menu>
    </div>
  </div>
  <ng-template #login>
    <div class="login-button">
      <nz-avatar
        nz-dropdown
        nzTrigger="click"
        [nzDropdownMenu]="menuNotLogged"
        nzSize="large"
        nzIcon="user"
        nzPlacement="bottomRight"
      ></nz-avatar>
      <nz-dropdown-menu #menuNotLogged="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li nz-menu-item (click)="openLoginScreen()">Zaloguj się</li>
        </ul>
      </nz-dropdown-menu>
    </div>
  </ng-template>
</div>
