@import '../../../styles.less';

:host {
  z-index: 1000;
  display: block;
  background-color: white;
}

::ng-deep .ant-input-wrapper {
  display: flex;
  margin-right: 16px;
}

@media (max-width: 575px) {
  ::ng-deep .ant-input-wrapper {
    display: block;
  }
}

@media (max-width: 500px) {
  ::ng-deep .ant-input-wrapper {
    display: table;
  }
}

.navigation {
  &__container {
    position: fixed;
    top: 0;
    left: 16px;
    right: 16px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding-bottom: 16px;
    border-bottom: 1px solid @primary-color;
    background-color: white;
    padding-top: 16px;

    &--left {
      flex: 1;
      display: flex;
      gap: 16px;
    }
  }

  &__items-container {
    display: flex;
    align-items: center;
    gap: 16px;
    width: calc(100% - 150px);
  }

  &__title-container {
    height: 40px;
    cursor: pointer;
    max-width: 200px;
    padding: 2px 10px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    color: @primary-color;
  }
}

.maps-icon {
  font-size: 32px;
  color: @primary-color;

  &:hover {
    cursor: pointer;
  }
}

.login-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;

  &:hover {
    cursor: pointer;
  }
}

.sign-in-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.search__name {
  flex: 1;
  max-width: 300px;
}

.search__categories {
  flex: 1;
  max-width: 200px;

  ::ng-deep .ant-select-selector {
    max-height: 32px;
    align-items: center !important;
  }
}

.search__suffix {
  width: 32px;
  height: 32px;
}

.mobile-navigation {
  &__container {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: @primary-color;
    color: white;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title-container {
    border: 1px solid white;
    border-radius: 2px;
    font-size: 24px;
    padding: 0 8px;
  }

  &__menu {
    font-size: 24px;

    &:hover {
      cursor: pointer;
    }
  }
}
