<ng-container *ngIf="loginService._user$ | async as user">
  <div class="your-activities__header">
    <h1 class="your-activities__title">Twoje zajęcia:</h1>

    <div class="your-activities__title--actions-container">
      <nz-alert
        *ngIf="user?.package == FreePackage"
        nzType="warning"
        nzShowIcon
        nzMessage="W obecnym pakiecie nie mozesz dodawac zajęc"
      ></nz-alert>
      <div
        class="your-activities__title--actions"
        [nz-tooltip]="activities?.length > 2 ? 'Przekroczona limit zajec dla tego konta' : ''"
      >
        <button
          *ngIf="userLogged"
          (click)="addActivity()"
          [disabled]="loading || activities?.length > limitNumberOfActivities || user?.package === FreePackage"
          nz-button
          nzType="primary"
          nzShape="circle"
        >
          <span nz-icon nzType="plus"></span>
        </button>
      </div>
    </div>
  </div>

  <ng-container *ngIf="!loading">
    <div class="your-activities">
      <div *ngFor="let activity of activities">
        <activity-box-simple
          [activity]="activity"
          (editActivity)="editActivity($event)"
          (deleteActivity)="editActivity($event)"
        ></activity-box-simple>
      </div>
    </div>
  </ng-container>
</ng-container>

<loader *ngIf="loading && userLogged" [inlineStyle]="true"></loader>
<no-data *ngIf="noData && userLogged" [inlineStyle]="true"></no-data>
<error *ngIf="error" [retryHandler]="getUserActivities.bind(this)" [inlineStyle]="true"></error>
