<div class="login-container">
  <asl-google-signin-button
    theme="filled_blue"
    logo_alignment="left"
    type="standard"
    width="392px"
    text="signup_with"
    shape="square"
  ></asl-google-signin-button>

  <nz-divider></nz-divider>

  <form nz-form *ngIf="form" [formGroup]="form" nzLayout="vertical">
    <nz-form-item>
      <nz-form-label nzFor="login" nzRequired>Login</nz-form-label>
      <nz-form-control [nzErrorTip]="errorDescription">
        <input #loginInputField id="login" nz-input formControlName="login" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzFor="email" nzRequired>Email</nz-form-label>
      <nz-form-control [nzErrorTip]="errorDescription">
        <input id="email" nz-input formControlName="email" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzFor="password" nzRequired>Hasło</nz-form-label>
      <nz-form-control [nzErrorTip]="errorDescription">
        <nz-input-group [nzSuffix]="suffixTemplate">
          <input [type]="passwordVisible ? 'text' : 'password'" nz-input formControlName="password" />
        </nz-input-group>
        <ng-template #suffixTemplate>
          <span
            nz-icon
            style="cursor: pointer"
            [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
            (click)="passwordVisible = !passwordVisible"
          ></span>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
  </form>

  <hub-button class="button__full-width" text="Zarejestruj" [isLoading]="isLoading" (click)="signUp()"></hub-button>
  <div>Masz juz konto? <a (click)="switchMode.emit()">Zaloguj się.</a></div>
</div>

<ng-template #errorDescription let-control>
  <ng-container *ngIf="control.hasError('required')">To pole jest wymagane</ng-container>
  <ng-container *ngIf="control.hasError('minlength')"><div>Minimalna wymagana ilość znaków</div></ng-container>
  <ng-container *ngIf="control.hasError('hasUpperCase')"><div>Hasło musi posiadac jedną duzą literę</div></ng-container>
  <ng-container *ngIf="control.hasError('hasLowerCase')"
    ><div>Hasło musi przynajmniej jedną małą literę</div></ng-container
  >
  <ng-container *ngIf="control.hasError('hasNumeric')"><div>Hasło musi przynajmniej jedną liczbę</div></ng-container>
  <ng-container *ngIf="control.hasError('uniqueUser')"
    >Uytkownik z podanym loginem jest juz zarejestrowany</ng-container
  >
  <ng-container *ngIf="control.hasError('uniqueEmail')"
    >Uytkownik z podanym emailem jest juz zarejestrowany</ng-container
  >
  <ng-container *ngIf="control.hasError('email')">Podany email jest nieprawidlowy</ng-container>
  <ng-container *ngIf="control.hasError('credentialNotCorrect')"
    >Podany login lub hasło jest nieprawidłowe</ng-container
  >
</ng-template>
