<ng-template #notAuthorized>
  <not-authorized></not-authorized>
</ng-template>

<div class="your-activities__header" *ngIf="loginService._user$ | async; else notAuthorized">
  <h1 class="your-activities__title">Twoje zajęcia:</h1>
  <div
    class="your-activities__title--actions"
    [nz-tooltip]="activities?.length > 2 ? 'Przekroczona limit zajec dla tego konta' : ''"
  >
    <button
      *ngIf="userLogged"
      (click)="addActivity()"
      [disabled]="loading || activities?.length > limitNumberOfActivities"
      nz-button
      nzType="primary"
      nzShape="circle"
    >
      <span nz-icon nzType="plus"></span>
    </button>
  </div>
</div>

<ng-container *ngIf="!loading">
  <div class="your-activities">
    <div *ngFor="let activity of activities" class="your-activities__container">
      <div class="your-activities__description">
        <h2 class="your-activities__details--name">{{ activity.name }}</h2>
        <div class="your-activities__details--category">
          {{ activity.category | category }}
        </div>
      </div>

      <div class="your-activities__actions">
        <a nz-button nzType="link" routerLink="/detail/{{ activity.guid }}"
          >Zobacz <span nz-icon nzType="eye" nzTheme="outline"></span
        ></a>
        <a nz-button nzType="link" (click)="editActivity(activity)"
          >Edyduj <span nz-icon nzType="edit" nzTheme="outline"></span
        ></a>
        <a nz-button nzType="link" (click)="deleteActivity(activity)"
          >Usuń <span nz-icon nzType="delete" nzTheme="outline"></span
        ></a>
      </div>
    </div>
  </div>
</ng-container>

<loader *ngIf="loading && userLogged" [inlineStyle]="true"></loader>
<no-data *ngIf="noData && userLogged" [inlineStyle]="true"></no-data>
<error *ngIf="error" [retryHandler]="getUserActivities.bind(this)" [inlineStyle]="true"></error>
