<nz-list *ngIf="comments.length" [nzDataSource]="comments" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
  <ng-template #item let-item>
    <nz-comment [nzAuthor]="item.userName" [nzDatetime]="item.addedDate | dateDistance">
      <nz-avatar nz-comment-avatar [nzText]="item.userName.charAt(0).toUpperCase()"></nz-avatar>
      <nz-comment-action>
        <nz-rate class="rate" [ngModel]="item.rate" nzAllowHalf disabled></nz-rate>
      </nz-comment-action>
      <nz-comment-content>
        <p>
          {{ item.content }}
        </p>
      </nz-comment-content>
    </nz-comment>
  </ng-template>
</nz-list>

<nz-comment *ngIf="loginService.loggedUser">
  <nz-avatar nz-comment-avatar [nzText]="loginService.loggedUser.username.charAt(0).toUpperCase()"></nz-avatar>
  <nz-comment-content>
    <nz-form-item>
      <textarea [disabled]="!enableCommenting" [(ngModel)]="inputValue" nz-input rows="4"></textarea>
      <nz-rate [disabled]="!enableCommenting" class="comments__new-rate" [(ngModel)]="rate" nzAllowHalf></nz-rate>
    </nz-form-item>
    <nz-form-item>
      <span nz-tooltip="Dodałeś juz komentarz.">
        <button
          nz-button
          nzType="primary"
          [nzLoading]="submitting"
          [disabled]="!inputValue || rate < 0.5"
          (click)="createComment()"
          [disabled]="!enableCommenting"
        >
          Dodaj komentarz
        </button>
      </span>
    </nz-form-item>
  </nz-comment-content>
</nz-comment>
