@import '../../styles.less';

:host {
    display: block;
    margin-bottom: 120px;
    margin-top: 60px;
}

.favourite-activities {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;

    &__grid {
        display: block;
        margin-bottom: 16px;
        height: 490px;
        overflow: scroll;
    
        display: grid;
        gap: 8px;
        grid-template-columns: repeat(3, minmax(100px, 1fr));
        padding: 0 20px;
    }
}