<form nz-form style="position: relative; min-height: 110px">
  <form enctype="multipart/form-data">
    <ng-template #loaderImages>
      <loader></loader>
    </ng-template>

    <div class="form-group" *ngIf="!loadingImages; else loaderImages">
      <label
        for="file-upload"
        class="custom-file-upload"
        [class.error]="showError"
        dragAndDrop
        (fileDropped)="onFileDropped($event)"
      >
        <span class="upload-icon" nz-icon nzType="upload" nzTheme="outline"></span>
        <span>
          <span
            nz-icon
            nzType="info-circle"
            nzTheme="outline"
            nz-tooltip
            nzTooltipTitle="Pierwsze zdjęcie zostanie uzyte przy pokazywaniu listy zajec"
            nzTooltipPlacement="right"
          ></span>
          Kliknij lub przeciągnij swoje zdjęcia tutaj
        </span>
      </label>

      <input
        id="file-upload"
        class="custom-file-input"
        (change)="filesChange($event)"
        type="file"
        name="file"
        class="form-control-file border"
        accept="image/jpeg, image/png, image/jpg"
        multiple
      />
    </div>
    <span *ngIf="showError" class="validation-error">Musisz dodac od 1 do 5 zdjęc</span>
  </form>
</form>

<div class="images-container" *ngIf="!loadingImages">
  <div class="added-files" *ngFor="let image of images; let i = index" (click)="deleteFile(i, image.file)">
    <img [alt]="image.file.name" class="added-files__image" [src]="image.url | safeUrl" />
    <span class="remove-icon" nz-icon nzType="delete" nzTheme="outline"></span>
  </div>
</div>

<div class="modal__action-container">
  <hub-button text="Poprzednie" (click)="previous()"></hub-button>
  <hub-button [isLoading]="isLoading" [text]="submitLabel" (click)="submit()"></hub-button>
</div>
