<form nz-form style="position: relative; min-height: 110px">
  <form class="mt-4" enctype="multipart/form-data">
    <ng-template #loaderImages>
      <loader></loader>
    </ng-template>

    <div class="form-group" *ngIf="!loadingImages; else loaderImages">
      <label
        for="file-upload"
        class="custom-file-upload"
        dragAndDrop
        (fileDropped)="onFileDropped($event)"
      >
        <span
          class="upload-icon"
          nz-icon
          nzType="upload"
          nzTheme="outline"
        ></span>
        Kliknij lub przeciągnij swoje zdjęcia tutaj
      </label>

      <input
        id="file-upload"
        class="custom-file-input"
        (change)="filesChange($event)"
        type="file"
        name="file"
        class="form-control-file border"
        accept="image/jpeg, image/png, image/jpg"
        multiple
      />
    </div>
  </form>
</form>

<div class="images-container" *ngIf="!loadingImages">
  <div
    class="added-files"
    *ngFor="let image of images; let i = index"
    (click)="deleteFile(i, image.file)"
  >
    <img class="added-files__image" [src]="image.url | safeUrl" />
    <span class="remove-icon" nz-icon nzType="delete" nzTheme="outline"></span>
  </div>
</div>

<div class="modal__action-container">
  <hub-button text="Poprzednie" (click)="previous()"></hub-button>
  <hub-button
    [isLoading]="isLoading"
    [text]="submitLabel"
    (click)="submit()"
  ></hub-button>
</div>

<ng-template #errorDescription let-control>
  <ng-container *ngIf="control.hasError('required')"
    >To pole jest wymagane</ng-container
  >
  <ng-container *ngIf="control.hasError('minlength')"
    >Minimalna wymagana ilość znaków</ng-container
  >
  <ng-container *ngIf="control.hasError('maxlength')"
    >Przekroczono dopuszczalną ilość znaków</ng-container
  >
</ng-template>
