<nz-layout>
  <nz-sider
    *ngIf="(resizeService.isSmall$ | async) === false"
    class="slider__filters"
  >
    <activity-filters
      (submitFilters)="onSubmitFilters($event)"
    ></activity-filters>
  </nz-sider>

  <nz-layout>
    <activity-filters
      *ngIf="resizeService.isSmall$ | async"
      (submitFilters)="onSubmitFilters($event)"
    ></activity-filters>

    <nz-content class="content-container" style="position: relative">
      <div class="activity-map">
        <div class="activity-map__container" #map id="map"></div>
      </div>
      <loader *ngIf="loading" [inlineStyle]="true"></loader>
      <error
        *ngIf="error"
        [inlineStyle]="true"
        [retryHandler]="onSubmitFilters.bind(this)"
      ></error>
    </nz-content>
  </nz-layout>
</nz-layout>
