@import '../../styles.less';

:host {
    display: block;
    margin-bottom: 90px;
    margin-top: 70px;
}

.flex-contaier {
    display: flex;
}


.find-activities {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0 20px;
}

.layout {
    min-height: 100%;
}

.multiple-select {
    height: 32px;

    ::ng-deep .ant-select-selector {
        height: 32px;
    }
}

.activity-map {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0 20px;

    &__container {
        width: 100%;
        height: 100%;
        width: 800px;
        height: 550px;
    }
}

::ng-deep .slider__filters {
    overflow: auto;
    height: calc(100% - 24px);
    margin-right: 16px;

    width: 220px !important;
    flex: 0 0 220px !important;
    max-width: 220px !important;
    min-width: 220px !important;
}

nz-header {
    background: @background-color;
    padding: 0;
}

.inner-content {
    padding: 24px;
    background: @background-color;
    text-align: center;
}

.find-activities__filters {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.find-activities__filters-row {
    display: flex;
    justify-content: space-between;
    gap: 8px;

    ::ng-deep .hub-button {
        width: 90px;
    }
}

@media (max-width: 575px) {
    :host {
        margin-top: 60px;
        height: 100%;
    }

    .content-container {
        border-left: none;
        padding-left: 0;
    }

    .find-activities {
        display: flex;
        gap: 8px;
        flex-direction: column;
    }
}