<div class="activity-category__wrapper">
  <div class="activity-category__container" (scroll)="onScroll($event)" #categoriesElement>
    <button
      *ngIf="showLeftArrow"
      (click)="scrollLeft()"
      class="activity-category__arrow activity-category__arrow--left"
      nz-button
      nzType="default"
      nzShape="circle"
    >
      <span nz-icon nzType="left"></span>
    </button>

    <div
      [class.activity-category--selected]="selectedCategory === category.value"
      (click)="setCategory.emit(category.value); selectedCategory = category.value"
      class="activity-category"
      *ngFor="let category of acitivyCategories"
    >
      <span nz-icon [innerHTML]="category.iconSvg | safeHtml"> </span>
      <div>{{ category.label }}</div>
    </div>

    <button
      *ngIf="showRightArrow"
      (click)="scrollRight()"
      class="activity-category__arrow activity-category__arrow--right"
      nz-button
      nzType="default"
      nzShape="circle"
    >
      <span nz-icon nzType="right"></span>
    </button>
  </div>
</div>
