:host {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 16px);
  padding-bottom: 80px;
  padding-top: 70px;
}

@media (max-width: 575px) {
  :host {
    position: relative;
    display: flex;
    flex-direction: column;
  }
}
