img {
  min-height: 210px;
  max-height: 150px;
  object-fit: cover;
  border-radius: 8px !important;
}

.fav-icon {
  color: red;
  font-size: 24px;
}

.activity-box__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ant-card-bordered {
  border: none;

  ::ng-deep .ant-card-body {
    padding: 12px;
  }

  ::ng-deep .ant-card-cover {
    margin: 0 !important;
  }

  ::ng-deep .ant-card-meta-title {
    padding-top: 8px;
    margin-bottom: 0;
  }
}
