img {
    min-height: 150px;
    max-height: 150px;
    object-fit: contain;
}

.fav-icon {
   color: red;
   font-size: 20px;
}

.activity-box__description {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ant-card-bordered {
        border: 1px solid rgb(0 141 255 / 54%);

    ::ng-deep .ant-card-body {
        padding: 12px;
    }
    
    ::ng-deep .ant-card-cover {
        margin: 0 !important;
    }

    ::ng-deep .ant-card-meta-title {
        padding-top: 8px;
        // border-top: 1px solid rgba(0, 0, 0, .06);
    }
}