<nz-card nzHoverable [nzCover]="coverTemplate">
  <nz-card-meta
    [nzTitle]="activity.name"
    [nzDescription]="description"
  ></nz-card-meta>
</nz-card>

<ng-template #coverTemplate>
  <img
    routerLink="/detail/{{ activity.guid }}"
    class="activity-box__background"
    [src]="activity.coverPhoto | safeUrl"
  />
</ng-template>
<ng-template #description>
  <div class="activity-box__description">
    {{ activity.category | category }}
    <span
      *ngIf="loginService._user$ | async"
      (click)="addToFavourite()"
      class="fav-icon"
      nz-icon
      nzType="heart"
      [nzTheme]="activity.isFavourite ? 'fill' : 'outline'"
    ></span>
  </div>
</ng-template>
