<div
  *ngIf="resizeService.isSmall$ | async; else largeScreenFilters"
  class="filters-mobile"
>
  <button
    (click)="openFilters()"
    nz-button
    nzType="default"
    nzSize="default"
    nzShape="round"
  >
    Pokaz filtry
    <span nz-icon nzType="down" nzTheme="outline"></span>
  </button>

  <nz-modal
    [(nzVisible)]="showFilters"
    [nzTitle]="''"
    [nzClosable]="false"
    [nzContent]="modalContent"
    [nzFooter]="modalFooter"
    [nzMask]="true"
    [nzMaskClosable]="true"
    (nzOnCancel)="showFilters = false"
    [nzMaskStyle]="{ 'background-color': 'transparent' }"
  >
    <ng-template #modalContent>
      <div class="filters__label">Nazwa:</div>
      <nz-input-group [nzSuffix]="suffixIconSearch">
        <input type="text" nz-input placeholder="Szukaj" [(ngModel)]="phrase" />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <span nz-icon nzType="search"></span>
      </ng-template>

      <div class="filters__label">Kategoria:</div>
      <nz-select
        class="multiple-select"
        nzPlaceHolder="Wybierz kategorię"
        [(ngModel)]="category"
        nzMode="multiple"
        [nzMaxTagCount]="1"
      >
        <nz-option
          *ngFor="let option of acitivyCategories"
          [nzLabel]="option.label"
          [nzValue]="option.value"
        ></nz-option>
      </nz-select>

      <div class="filters__label">Dni tygodnia:</div>
      <nz-select
        class="multiple-select"
        nzPlaceHolder="Wybierz dzień tygodnia"
        [(ngModel)]="weekDay"
        nzMode="multiple"
        [nzMaxTagCount]="1"
      >
        <nz-option
          *ngFor="let option of weekDaysOptions"
          [nzLabel]="option.label"
          [nzValue]="option.value"
        ></nz-option>
      </nz-select>

      <div class="filters__label">Cena:</div>
      <nz-slider
        nzRange
        (ngModelChange)="rangePriceChanged($event)"
        [(ngModel)]="priceRange"
      ></nz-slider>

      <div class="find-activities__filters-row">
        <nz-input-number
          (ngModelChange)="minPriceChanged($event)"
          [(ngModel)]="minPrice"
          [nzMin]="1"
          [nzMax]="1000"
          [nzStep]="1"
        ></nz-input-number>
        <nz-input-number
          (ngModelChange)="maxPriceChanged($event)"
          [(ngModel)]="maxPrice"
          [nzMin]="1"
          [nzMax]="1000"
          [nzStep]="1"
        ></nz-input-number>
      </div>
    </ng-template>

    <ng-template #modalFooter>
      <button nz-button nzType="default" (click)="clearAllFilters()">
        Wyczyść
      </button>
      <button nz-button nzType="primary" (click)="submit()">Szukaj</button>
    </ng-template>
  </nz-modal>
</div>

<ng-template #largeScreenFilters>
  <div class="find-activities__filters">
    <div class="find-activities__filters-row">
      <h2>Filtruj:</h2>
    </div>

    <nz-input-group [nzSuffix]="suffixIconSearch">
      <input type="text" nz-input placeholder="Szukaj" [(ngModel)]="phrase" />
    </nz-input-group>

    <ng-template #suffixIconSearch>
      <span nz-icon nzType="search"></span>
    </ng-template>

    <nz-select
      class="multiple-select"
      nzPlaceHolder="Wybierz kategorię"
      [(ngModel)]="category"
      nzMode="multiple"
      [nzMaxTagCount]="1"
    >
      <nz-option
        *ngFor="let option of acitivyCategories"
        [nzLabel]="option.label"
        [nzValue]="option.value"
      ></nz-option>
    </nz-select>

    <nz-select
      class="multiple-select"
      nzPlaceHolder="Wybierz dzień tygodnia"
      [(ngModel)]="weekDay"
      nzMode="multiple"
      [nzMaxTagCount]="1"
    >
      <nz-option
        *ngFor="let option of weekDaysOptions"
        [nzLabel]="option.label"
        [nzValue]="option.value"
      ></nz-option>
    </nz-select>

    <nz-slider
      nzRange
      (ngModelChange)="rangePriceChanged($event)"
      [(ngModel)]="priceRange"
    ></nz-slider>

    <div class="find-activities__filters-row">
      <nz-input-number
        (ngModelChange)="minPriceChanged($event)"
        [(ngModel)]="minPrice"
        [nzMin]="1"
        [nzMax]="1000"
        [nzStep]="1"
      ></nz-input-number>
      <nz-input-number
        (ngModelChange)="maxPriceChanged($event)"
        [(ngModel)]="maxPrice"
        [nzMin]="1"
        [nzMax]="1000"
        [nzStep]="1"
      ></nz-input-number>
    </div>

    <div class="find-activities__filters-row">
      <nz-divider></nz-divider>
    </div>

    <div class="find-activities__filters-row">
      <hub-button
        class="action-button"
        text="Wyczyść"
        type="default"
        (click)="clearAllFilters()"
      ></hub-button>
      <hub-button
        class="action-button"
        text="Szukaj"
        (click)="submit()"
      ></hub-button>
    </div>
  </div>
</ng-template>
