<form nz-form [formGroup]="form">
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="location">Lokalizacja</nz-form-label>
        <nz-form-control [nzErrorTip]="errorDescription">
            <input id="location" nz-input placeholder="Lokalizacja" formControlName="location" />
        </nz-form-control>
    </nz-form-item>
</form>

<div class="modal__action-container">
    <hub-button text="Poprzednie" (click)="previous()"></hub-button>
    <hub-button text="Dalej" (click)="submit()"></hub-button>
</div>

<ng-template #errorDescription let-control>
    <ng-container *ngIf="control.hasError('required')">To pole jest wymagane</ng-container>
    <ng-container *ngIf="control.hasError('minlength')">Minimalna wymagana ilość znaków</ng-container>
    <ng-container *ngIf="control.hasError('maxlength')">Przekroczono dopuszczalną ilość znaków</ng-container>
  </ng-template>
