@primary-color: #1890ff;

html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #eaeaea;
    box-sizing: border-box;
}

body {
    padding: 16px 40px;
}

.modal__action-container {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.ant-form-item {
    margin-bottom: 8px !important;
}

.ant-form {
    margin: 8px 0 !important;
}

.ant-layout {
    height: 100%;
    background-color: white;
}

.ant-layout-sider {
    background-color: white;
}

.ant-layout-sider-children {
    position: fixed;
    padding: 0 8px;
    width: 220px;
    background-color: white;
}

::ng-deep .ant-carousel .slick-dots button {
    background-color: @primary-color !important;
}

::ng-deep .ant-divider {
    border-top: 1px solid rgba(0, 0, 0, 0.2) !important;
    margin: 16px 0 !important;
}

::ng-deep .ant-input-number {
    width: 100%;
}

.clickable {
    cursor: pointer;
}