@primary-color: #00549e;
@primary-color-transparent: rgba(0, 141, 255, 0.2);
@secondary-color: #fafafa;
@disabled-color: gray;
@background-color: white;
@gray-border-color: rgba(0, 0, 0, 0.2);
@default-box-shadow: 3px 7px 11px -8px rgba(81, 81, 90, 1);

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  box-sizing: border-box;
}

body {
  padding: 16px 40px;
}

a {
  color: @primary-color !important;
}

.logo-icon {
  width: 50px;
  height: 50px;
}

.modal__action-container {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.ant-form-item {
  margin-bottom: 8px !important;
}

.ant-form {
  margin: 8px 0 !important;
}

.ant-layout {
  height: 100%;
  background-color: @background-color;
}

.ant-layout-sider {
  background-color: @background-color;
}

.ant-layout-sider-children {
  position: fixed;
  padding: 0 8px;
  width: 220px;
  background-color: @background-color;
  // height: auto !important;
}

::ng-deep .ant-carousel .slick-dots button {
  background-color: @primary-color !important;
}

::ng-deep .ant-divider {
  border-top: 1px solid @gray-border-color !important;
  margin: 16px 0 !important;
}

::ng-deep .ant-input-number {
  width: 100%;
}

::ng-deep .ant-result {
  padding: 50px 32px !important;
}

.clickable {
  cursor: pointer;
}

@media (max-width: 575px) {
  html,
  body {
    margin: 0;
    min-height: 100% !important;
    width: 100%;
    background-color: white;
    box-sizing: border-box;
  }

  body {
    padding: 16px;
  }
}
