<ng-template #notAuthorized>
  <not-authorized></not-authorized>
</ng-template>

<div class="profile__container" *ngIf="loginService._user$ | async; else notAuthorized">
  <ng-container *ngIf="!loading">
    <nz-layout>
      <nz-sider>
        <ul nz-menu nzMode="inline" nzTheme="light">
          <li>
            <h2 class="profile__header"></h2>
          </li>
          <li nz-menu-item routerLink="profile" nzSelected>
            <span>Profil</span>
          </li>
          <li nz-menu-item [nzDisabled]="true">
            <span>Opłacone zajęcia</span>
          </li>
          <li nz-menu-item routerLink="favourites">
            <span>Ulubione</span>
          </li>
          <li nz-menu-item routerLink="your-activities">
            <span>Twoje zajęcia</span>
          </li>
          <li nz-menu-item [nzDisabled]="true">
            <span>Regulamin</span>
          </li>
          <li class="profile__delete" nz-menu-item (click)="deleteAccount()">
            <span>Usuń konto</span>
          </li>
        </ul>
      </nz-sider>

      <nz-layout class="profile__router-container">
        <router-outlet></router-outlet>
      </nz-layout>
    </nz-layout>
  </ng-container>
</div>
<loader *ngIf="loading && userLogged" [inlineStyle]="true"></loader>
